* {
  margin: 0;
  padding: 0;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .displayCard .card-title{
    text-align: justify;
    text-justify: inter-word;
      height: 70px !important;
      overflow-y: scroll;
  }

  .displayCard .card-title::-webkit-scrollbar {
    display: none;
  }

  .displayCard .card-content{
    text-align: justify;
    text-justify: inter-word;
    height: 250px !important; 
    overflow-y: scroll;
}

.displayCard .card-content::-webkit-scrollbar {
  display: none;
}
 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #374EA1 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #5c6ca5 !important;
  box-shadow: 0 1px 0 0 #374EA1 !important;
}

.navBtnn{
  background-color: white !important;
  color: black !important;
}